<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ymq="http://www.ydcqy.com/schema/ymq" xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.ydcqy.com/schema/ymq
        http://www.ydcqy.com/schema/ymq/ymq-spring.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.ydcqy.ymq"/>

    <ymq:config path="mq.yml" active="activemq"/>

    <ymq:queue id="abcQueue" name="a.b.c1" type="point_to_point" interface="com.ydcqy.ymq.spring.service.Bbbb"/>
    <ymq:consumer-listener queue-ref="abcQueue" implement-ref="abcServiceImpl"/>
    <ymq:producer id="mqAbcService" queue-ref="abcQueue"/>

</beans>