<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydcqy.cloud.services.talk.dao.personalItem.UserDao">
    <resultMap id="UserPoMap" type="com.ydcqy.cloud.services.talk.model.UserPo">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
    </resultMap>
    <select id="getUserById" resultMap="UserPoMap">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>
    <select id="findByPage" resultMap="UserPoMap">
        SELECT *
        FROM user
    </select>
    <update id="updateUser">
        UPDATE user
        SET username = #{newUsername}
        WHERE id = #{id}
    </update>
</mapper>