<li class="cygj" id="cygj">

    <div class="cd-full-width">
        <div class="container-fluid js-tm-page-content" data-page-no="4">

            <div class="row">

                <div class="col-xs-12 row-wt-per-100">
                    <div class="tm-flex tm-3-col-container">

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#icon-icons-intellij_idea"></use>
                                </svg>
                                <h2 class="tm-text-title">IntelliJ IDEA</h2>


                            </div>
                        </div>

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-eclipse"></use>
                                </svg>
                                <h2 class="tm-text-title">Eclipse</h2>

                            </div>
                        </div>

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div
                                    class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-Git"></use>
                                </svg>
                                <h2 class="tm-text-title">Git</h2>

                            </div>
                        </div>
                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-SVN-"></use>
                                </svg>
                                <h2 class="tm-text-title">SVN</h2>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-xs-12 row-wt-per-100">
                    <div class="tm-flex tm-3-col-container">

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <a href="//jenkins.ydcqy.com/" target="_blank"
                               class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#icon-jenkins"></use>
                                </svg>
                                <h2 class="tm-text-title">Jenkins</h2>


                            </a>
                        </div>

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#icon-weimingming-"></use>
                                </svg>
                                <h2 class="tm-text-title">Navicat</h2>

                            </div>
                        </div>

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div
                                    class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#icon-Neuxs-maven"></use>
                                </svg>
                                <h2 class="tm-text-title">Maven</h2>

                            </div>
                        </div>
                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-postman"></use>
                                </svg>
                                <h2 class="tm-text-title">Postman</h2>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</li>