<li class="cygj" id="cygj">

    <div class="cd-full-width">

        <div class="container-fluid js-tm-page-content" data-page-no="3">


            <div class="tm-img-gallery-container">

                <div class="tm-img-gallery gallery-two">
                    <!-- Gallery Two pop up connected with JS code below -->

                    <div class="tm-img-gallery-info-container">

                        <h2 class="tm-text-title tm-gallery-title"><span class="tm-white">Gallery Two</span>
                        </h2>
                        <p class="tm-text"><span class="tm-white">Nulla efficitur, ligula et imperdiet volutpat, lacus tortor tempus massa, eget tempus quam nibh vel nulla. Maecenas purus sem, lobortis id odio in, ultrices scelerisque sapien.</span>
                        </p>

                    </div>

                    <div class="grid-item">
                        <a href="../img/tm-img-09.jpg">
                            <img src="../img/tm-img-09-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-10.jpg">
                            <img src="../img/tm-img-10-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-11.jpg">
                            <img src="../img/tm-img-11-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-12.jpg">
                            <img src="../img/tm-img-12-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-13.jpg">
                            <img src="../img/tm-img-13-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-14.jpg">
                            <img src="../img/tm-img-14-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-15.jpg">
                            <img src="../img/tm-img-15-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-16.jpg">
                            <img src="../img/tm-img-16-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                </div>

            </div> <!-- .tm-img-gallery-container -->

        </div> <!-- .container-fluid -->

    </div> <!-- .cd-full-width -->

</li>