<li class="sy" id="sy">
    <div class="cd-full-width">
        <div class="container-fluid js-tm-page-content tm-page-1" data-page-no="1">


            <div class="row">

                <div class="col-xs-12">
                    <div class="tm-2-col-container tm-bg-white-translucent">

                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="tm-text-title sy-title">欢迎来到我的个人主页！</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-2-col-left">
                                <div class="text-xs-left tm-textbox tm-2-col-textbox sy-bg-pt">
                                    <div class="tm-text sy-bg"
                                         style="background-image: url(../img/cxy.jpg);height: 240px;width: 420px;background-repeat: no-repeat;background-size: contain;opacity: 0.88;"></div>
                                </div>


                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-2-col-right">
                                <div class="text-xs-left tm-textbox tm-2-col-textbox sy-bg-pt">
                                    <div class="tm-text sy-bg"
                                         style="background-image: url(../img/home-img-01.jpg);height: 235px;width: 270px;background-size: contain;background-repeat: no-repeat;margin-left: 35%;opacity: 0.88"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</li>