<li class="sy" id="sy">
    <div class="cd-full-width">
        <div class="container-fluid js-tm-page-content tm-page-1" data-page-no="1">


            <div class="row">

                <div class="col-xs-12">
                    <div class="tm-2-col-container tm-bg-white-translucent">

                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="tm-text-title">哈喽，欢迎来到我的个人主页！</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-2-col-left">
                                <div class="text-xs-left tm-textbox tm-2-col-textbox">
                                    <p class="tm-text">找工作！</p>
                                    <p class="tm-text">找工作！</p>
                                    <p class="tm-text">找工作！</p>
                                    <h3 class="tm-text-title">重要的事情一定要说三遍(○｀ 3′○)</h3>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-2-col-right">
                                <div class="text-xs-left tm-textbox tm-2-col-textbox">
                                    <div class="tm-text"
                                         style="background-image: url(../img/home-img-01.jpg);height: 230px;width: 300px;background-size: contain;background-repeat: no-repeat;margin-left: 2em;opacity: 0.88"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</li>