<li class="syjs" id="syjs">

    <div class="cd-full-width">

        <div class="container-fluid js-tm-page-content" data-page-no="2">

            <div class="tm-img-gallery-container">

                <div class="tm-img-gallery gallery-one">
                    <!-- Gallery One pop up connected with JS code below -->

                    <div class="tm-img-gallery-info-container">

                        <h2 class="tm-text-title tm-gallery-title">Gallery One</h2>
                        <p class="tm-text">Nulla efficitur, ligula et imperdiet volutpat, lacus tortor tempus
                            massa, eget tempus quam
                            nibh vel nulla. Maecenas purus sem, lobortis id odio in, ultrices scelerisque
                            sapien.
                        </p>

                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-01.jpg">
                            <img src="../img/tm-img-01-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-02.jpg">
                            <img src="../img/tm-img-02-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-03.jpg">
                            <img src="../img/tm-img-03-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-04.jpg">
                            <img src="../img/tm-img-04-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-05.jpg">
                            <img src="../img/tm-img-05-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-06.jpg">
                            <img src="../img/tm-img-06-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-07.jpg">
                            <img src="../img/tm-img-07-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="../img/tm-img-08.jpg">
                            <img src="../img/tm-img-08-tn.jpg" alt="Image" class="img-fluid tm-img">
                        </a>
                    </div>
                </div>

            </div> <!-- .tm-img-gallery-container -->

        </div> <!-- .container-fluid -->

    </div> <!-- .cd-full-width -->

</li>