<li class="syjs" id="syjs">

    <div class="cd-full-width">
        <div class="container-fluid js-tm-page-content" data-page-no="4">


            <div class="row">

                <div class="col-xs-12 row-wt-per-100">
                    <div class="tm-flex tm-3-col-container">

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-Java"></use>
                                </svg>
                                <h2 class="tm-text-title">Java</h2>


                            </div>
                        </div>

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dubbo"></use>
                                </svg>
                                <h2 class="tm-text-title">Dubbo</h2>

                            </div>
                        </div>

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div
                                    class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#icon-icon-spring-framewor"></use>
                                </svg>
                                <h2 class="tm-text-title">Spring</h2>

                            </div>
                        </div>
                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-docker"></use>
                                </svg>
                                <h2 class="tm-text-title">Docker</h2>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-12 row-wt-per-100">
                    <div class="tm-flex tm-3-col-container">
                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#icon-MySQL"></use>
                                </svg>
                                <h2 class="tm-text-title">MySQL</h2>
                            </div>
                        </div>
                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-redis"></use>
                                </svg>
                                <h2 class="tm-text-title">Redis</h2>


                            </div>
                        </div>

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#icon-linux"></use>
                                </svg>
                                <h2 class="tm-text-title">Linux</h2>

                            </div>
                        </div>

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nginx"></use>
                                </svg>
                                <h2 class="tm-text-title">Nginx</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 row-wt-per-100">
                    <div class="tm-flex tm-3-col-container">
                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#icon-js"></use>
                                </svg>
                                <h2 class="tm-text-title">JavaScript</h2>
                            </div>
                        </div>
                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-jquery"></use>
                                </svg>
                                <h2 class="tm-text-title">JQuery</h2>

                            </div>
                        </div>
                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#icon-ActiveMQ"></use>
                                </svg>
                                <h2 class="tm-text-title">ActiveMQ</h2>
                            </div>
                        </div>

                        <div class="tm-3-col-textbox tm-bg-white-translucent">
                            <div class="text-xs-left tm-textbox tm-textbox-padding">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#icon-ApacheZooKeeper"></use>
                                </svg>
                                <h2 class="tm-text-title">ZooKeeper</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</li>